* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}
  
body {
    background-color: #fff;
    overflow-x: hidden;
}

.gradient-1 {
    position: absolute;
    background-color: #766191;
    filter: blur(530px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    left: -200px;
    top: -100px;
    animation: moveLeftGradient 20s infinite alternate ease-in-out;
  }
  
  @keyframes moveLeftGradient {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-200px, 150px); /* Move left and down */
    }
    50% {
      transform: translate(200px, -200px); /* Move right and up */
    }
    75% {
      transform: translate(-150px, 200px); /* Move left and down */
    }
    100% {
      transform: translate(100px, -100px); /* Move right and up */
    }
  }
  
  .gradient-2 {
    position: absolute;
    background-color: #766191;
    filter: blur(530px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    right: -200px;
    top: 0;
    animation: moveRightGradient 20s infinite alternate ease-in-out;
  }
  
  @keyframes moveRightGradient {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(150px, -150px); /* Move right and up */
    }
    50% {
      transform: translate(-200px, 200px); /* Move left and down */
    }
    75% {
      transform: translate(200px, -100px); /* Move right and up */
    }
    100% {
      transform: translate(-150px, 200px); /* Move left and down */
    }
  }