/* Variables */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset-Properties */


* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    scroll-behavior: smooth;
}
  
body {
    background-color: #1A171E;
    overflow-x: hidden;
    position: relative;
}

/* Gradients */

.gradient-1 {
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    left: -200px;
    top: -100px;
    animation: moveLeftGradient 20s infinite alternate ease-in-out;
    will-change: transform;
    transform: translate(0, 0);
}

@keyframes moveLeftGradient {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-200px, 150px);
    }
    50% {
        transform: translate(200px, -200px);
    }
    75% {
        transform: translate(-150px, 200px);
    }
    100% {
        transform: translate(100px, -100px);
    }
}

.gradient-2 {
  position: absolute;
  background-color: #766191;
  filter: blur(300px);
  height: 400px;
  width: 400px;
  opacity: 100%;
  z-index: 1;
  right: -200px;
  top: 0;
  animation: moveRightGradient 20s infinite alternate ease-in-out;
  will-change: transform;
  transform: translate(0, 0);
}

@keyframes moveRightGradient {
  0% {
      transform: translate(0, 0);
  }
  25% {
      transform: translate(150px, -50px);
  }
  50% {
      transform: translate(-200px, 100px);
  }
  75% {
      transform: translate(200px, -50px);
  }
  100% {
      transform: translate(-150px, 100px)
  }
}


.gradient-3 {
  position: absolute;
  background-color: #62BF64;
  filter: blur(300px);
  height: 320px;
  width: 320px;
  opacity: 10%;
  right: 0;
  bottom: 54px;
  will-change: transform;
}

.gradient-4 {
  position: absolute;
  background-color: #766191;
  filter: blur(300px);
  height: 100px;
  width: 100px;
  opacity: 100%;
  z-index: 1;
  left: 0;
  bottom: -80px;
}

.gradient-5 {
  position: absolute;
  background-color: #766191;
  filter: blur(300px);
  height: 100px;
  width: 100px;
  opacity: 100%;
  z-index: 1;
  right: 0;
  bottom: -80px;
}

.gradient-6 {
  position: absolute;
  background-color: #766191;
  filter: blur(300px);
  height: 400px;
  width: 400px;
  opacity: 100%;
  z-index: 1;
  right: -360px;
  top: 200px;
}

.gradient-7 {
  position: absolute;
  background-color: #766191;
  filter: blur(300px);
  height: 400px;
  width: 400px;
  opacity: 100%;
  z-index: 1;
  left: -360px;
  top: 200px;
}

.gradient-8 {
  position: absolute;
  background-color: #d3a720;
  filter: blur(300px);
  height: 200px;
  width: 200px;
  opacity: 100%;
  z-index: 1;
  top: 180px;
  left: 140px;

}


/* Header__Section */


  .header{
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1A171E;  
    
  }    
  
  .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    z-index: 100;
    margin: 0 100px;
  }
  
  .header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo-txt {
    font-size: 40px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  
  .header-menu {
    display: none;
  }
  
  .header-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin-left: 120px;
  }
  
  .nav-items {
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
    font-family: "Popins", sans-serif;
  }
  
  .header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #E0A93F;
    border-radius: 30px 30px 0 30px;
  }
  
  .header-btn-txt {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: "Popins", sans-serif;
  }


/* Main__Section */


  .main {
    height: auto;
    width: 100%;
  }
  
  .hero-section {
    height: 800px;
    width: 100%;
    position: relative;
    background-color: #1A171E;
  }
  
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  
  .ellipse-1 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #DAAC0F;
    border-radius: 50%;
    top: 200px;
    left: 40px;
    z-index: 1;
    animation: bounce 1.6s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
  
  .hero-right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .hero-right-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
  }
  
  .hero-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  
  .hero-para {
    font-size: 18px;
    font-weight: 400px;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  
  .hero-CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 20px;
  }
  
  .hero-CTA-1 {
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A77EA;
    border-radius: 30px 30px 30px 0;
  }
  
  .hero-CTA-1-txt {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
  }
  
  .hero-CTA-2 {
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30363E;
    border-radius: 30px 30px 0 30px;
  }
  
  .hero-CTA-2:hover {
    background-color: #2A77EA;
    transition: background-color 0.4s ease;
  }
  
  .hero-CTA-2-txt {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
  }
  
  
  .hero-left {
    width: 50%;
    margin-bottom: -18%;
  }
  
  .hero-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ellipse-2 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #EC4A59;
    border-radius: 50%;
    top: 568px;
    right: 800px;
    animation: bounce 1.6s infinite;
    z-index: 1;
  }

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
  
  .hero-grid-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
  }  

  .grid-1-image-1, .grid-1-image-2 {
    position: absolute;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .grid-1-image-1 {
    height: 600px;
    width: 200px;
    border-radius: 100px;
    top: -600px;
    margin-right: 8.8rem;
  }
  
  .grid-1-image-2 {
    height: 520px;
    width: 200px;
    border-radius: 100px;
    bottom: -546px;
    margin-right: 8.8rem;
  }
  
  .swapped .grid-1-image-1 {
    transform: translateY(600px);
  }
  
  .swapped .grid-1-image-2 {
    transform: translateY(-600px);
  }
  
  
  
  .ellipse-3 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #E4B821;
    border-radius: 50%;
    top: -6%;
    right: 592px;
    z-index: 1;
    animation: bounce 1.6s infinite;
  }

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
  
  .hero-grid-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    gap: 1rem;
    top: -144px;
    z-index: 1;
  }
  
  .grid-2-image-1 {
    height: 600px;
    width: 200px;
    border-radius: 0 0 100px 100px;    
  }
  
  .grid-2-image-2 {
    height: 520px;
    width: 200px;
    border-radius: 100px 100px 0 0;
    
  }
  
  .hero-grid-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    right: -100px;
    animation: bounce 2s infinite;

  }

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
  } 
  
  .grid-3-image-1 {
    height: 540px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    top: -560px;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .grid-3-image-2 {
    height: 520px;
    width: 200px;
    border-radius: 100px ;
    position: absolute;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    bottom: -526px;
  }

  .swapped .grid-3-image-1 {
    transform: translateY(600px);
  }
  
  .swapped .grid-3-image-2 {
    transform: translateY(-600px);
  }
  
  .ellipse-4 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #5CBB5F;
    border-radius: 50%;
    bottom: 220px;
    right: 96px;
    z-index: 1;
    animation: bounce 1.6s infinite;
  }


  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
  
  .cat-section {
    height: 200px;
    width: 100%;
    background-color: #1A171E;
  }
  
  
  .cat-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 80px;
    gap: 1.6rem;
  }
  
  .cat {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
  }
  
  .cat-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .cat-bar-items {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
    opacity: 50%;
  }


.about-section {
  height: 600px;
  width: 100%;
  background-color: #1A171E;
  padding: 40px 0;
  border-top: 0.6px solid #f8f8f8;
}

.about-section-container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 20px;
}

.about-img {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  height: 100%;
}

.about-img-pic {
  height: 520px;
  width: auto;
  animation: bounce 2s infinite;
  z-index: 1;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

.about-info {
  display: flex;
  justify-content: end;
  width: 50%;
  height: 100%;

}

.about-info-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.about-heading {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 1;
}

.about-vector-1 {
    position: absolute;
    height: 30px;
    width: auto;
    z-index: 0;
    fill: none;
}

.about-para {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    max-width: 900px; /* Limit the width for better readability */
    margin: 0 auto;
    text-align: center;
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 160px;
    background-color: #E4B821;
    color: #fff;
    border-radius: 50px;    
    transition: background-color 0.3s ease, transform 0.3s ease;    
}

.about-btn:hover {
    background-color: #d3a720; /* Add a hover effect */
    transform: scale(1.05);
}

.about-btn-txt {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}


.academy-section {
  height: 800px;
  width: 100%;
  background-color: #1A171E;
  position: relative;
  padding: 40px 0;
  border-top: 0.8px solid #f8f8f8;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.academy-stars-1 {
    position: absolute;
    height: 26px;
    width: auto;
    top: 40px;
    left: 40px;
    fill: #fff;
    animation: bounce 1.6s infinite;
}

.academy-stars-2 {
    position: absolute;
    height: 26px;
    width: auto;
    bottom: 120px;
    left: 80px;
    fill: #fff;
    animation: bounce 1.6s infinite;
}

.academy-stars-3 {
    position: absolute;
    height: 26px;
    width: auto;
    top: 60px;
    right: 40px;
    fill: #fff;
    animation: bounce 1.6s infinite;
}

.academy-stars-4 {
    position: absolute;
    height: 26px;
    width: auto;
    bottom: 80px;
    right: 80px;
    fill: #fff;
    animation: bounce 1.6s infinite;
}

.academy-stars-5 {
  display: none;
  position: absolute;
  height: 26px;
  width: auto;
  bottom: 450px;
  right: 10px;
  fill: #fff;
  animation: bounce 1.6s infinite;
}


.academy-section-container {
  height: 100%;
  width: 100%;
  max-width: 1480px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 20px;
}

.academy-subjects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 20px;
  text-align: center;
  gap: 1rem;
  border: 0.8px solid #fff;
  border-radius: 40px;
}

.subjects-img {
  height: 60px;
  width: 60px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.subjects-heading {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

.subjects-info {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.subjects-btn {
  height: 60px;
  width: 160px;
  background-color: #E4B821;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: auto;
}

.subjects-btn:hover {
  background-color: #d3a720;
}

.subjects-btn-txt {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}


/* General styles for contact section */
.contact-section {
  height: 600px;
  width: 100%;
  background-color: #1A171E;
  border-top: 0.8px solid #f8f8f8;
  padding: 40px 0;
}

.contact-section-container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding:  0 20px;
  gap: 2rem;
}

/* Contact info */
.contact-info {
    flex: 1;
    max-width: 500px;
}

.contact-heading {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.contact-para {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

/* Contact form styling */
.contact-form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-form-nm,
.contact-form-em,
.contact-form-msg {
    background-color: #EC4A59;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form-nm::placeholder,
.contact-form-em::placeholder,
.contact-form-msg::placeholder {
    color: #fff;
    opacity: 0.8;
}

.contact-form-msg {
    height: 150px; /* Adjusted for better readability */
    resize: none;
}

/* Submit button */
.contact-form-btn {
    background-color: #E4B821;
    color: #fff;
    height: 60px;
    width: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.contact-form-btn:hover {
    background-color: #d3a720;
    transform: scale(1.05); /* Added scale effect on hover */
}

.contact-form-btn-txt {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.confirmation-message {
  color: #fff;
  font-size: 18px;
  font-family: "Popins", sans-serif;
  font-weight: 600;
  text-align: center;
}


/* Footer__Section */

.footer {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: #1A171E;
  color: #fff;
  overflow: hidden;
}

.footer-menu {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
}

.footer-logo {
    font-size: 36px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
    z-index: 1;
}

.footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;

}

.footer-bar-items {
    font-size: 18px;
    font-weight: 400;
    font-family: "Popins",sans-serif;
    color: #fff;
    z-index: 1;
}

.footer-copyright {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.6px solid #fff;
    opacity: 70%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
}

.footer-copyright-txt {
    font-size: 16px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
    z-index: 1;
}


@media only screen and (max-width: 768px) {

  /* Gradients */

  .gradient-1 {
    display: none;
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    left: -200px;
    top: -100px;
    animation: moveLeftGradient 20s infinite alternate ease-in-out;
    will-change: transform;
    transform: translate(0, 0);
  }

  @keyframes moveLeftGradient {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-200px, 150px);
    }
    50% {
        transform: translate(200px, -200px);
    }
    75% {
        transform: translate(-150px, 200px);
    }
    100% {
        transform: translate(100px, -100px);
    }
  }

  .gradient-2 {
    display: none;
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    right: -200px;
    top: 0;
    animation: moveRightGradient 20s infinite alternate ease-in-out;
    will-change: transform;
    transform: translate(0, 0);
  }

    @keyframes moveRightGradient {
      0% {
          transform: translate(0, 0);
      }
      25% {
          transform: translate(150px, -50px);
      }
      50% {
          transform: translate(-200px, 100px);
      }
      75% {
          transform: translate(200px, -50px);
      }
      100% {
          transform: translate(-150px, 100px)
      }
    }


  .gradient-3 {
    display: none;
    position: absolute;
    background-color: #62BF64;
    filter: blur(300px);
    height: 320px;
    width: 320px;
    opacity: 10%;
    right: 0;
    bottom: 54px;
    will-change: transform;
  }

  .gradient-4 {
    display: none;
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 100px;
    width: 100px;
    opacity: 100%;
    z-index: 1;
    left: 0;
    bottom: -80px;
  }

  .gradient-5 {
    display: none;
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 100px;
    width: 100px;
    opacity: 100%;
    z-index: 1;
    right: 0;
    bottom: -80px;
  }

  .gradient-6 {
    display: none;
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    right: -360px;
    top: 200px;
  }

  .gradient-7 {
    display: none;
    position: absolute;
    background-color: #766191;
    filter: blur(300px);
    height: 400px;
    width: 400px;
    opacity: 100%;
    z-index: 1;
    left: -360px;
    top: 200px;
  }

  .gradient-8 {
    position: absolute;
    background-color: #d3a720;
    filter: blur(300px);
    height: 140px;
    width: 140px;
    opacity: 100%;
    z-index: 1;
    top: 120px;
    left: 20px;

  }

   /* Header__Section */

  .header{
    background-color: #1A171E;
    
  }    
  
  .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin: 0 8px;
  }
  
  .header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    order: 2;
  }
  
  .logo-txt {
    font-size: 24px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    order: 1;
  }
  
  .header-menu-icon {
    height: 40px;
    width: auto;
    fill: #fff;
  }
  
  .header-nav {
    display: none;
  }

  .header-nav.active {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 80px;
    left: -120px;
    height: 660px;
    width: 80%;
    background-color: #1A171E;
    gap: 0;
    animation: slideIn 0.4s forwards;
    border-top: 0.8px solid #f8f8f8;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .nav-items {
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 20px;
    border-bottom: 0.8px solid #f8f8f8;

  }

  .nav-items:first-of-type {
    margin-top: 20px;
  }

  
  .header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    background-color: #E0A93F;
    border-radius: 30px; 
    order: 3;
  }
  
  .header-btn-txt {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    font-family: "Popins", sans-serif;
  }

  /* Main__Section */

  .main {
    height: auto;
    width: 100%;
  }
  
  .hero-section {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #1A171E;
    border-top: 0.8px solid #f8f8f8;
    margin-bottom: 60px;
  }
  
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }
  
  /* Ellipse's*/

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
  }

  .ellipse-1 {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #DAAC0F;
    border-radius: 50%;
    top: 676px;
    left: 14px;
    z-index: 1;
    animation: bounce 1.6s infinite;
  }

  .ellipse-2 {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #EC4A59;
    border-radius: 50%;
    top: 374px;
    left: 18px;
    animation: bounce 1.6s infinite;
    z-index: 1;
  }

  .ellipse-3 {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #E4B821;
    border-radius: 50%;
    top: 46px;
    left: 96px;
    z-index: 1;
    animation: bounce 1.6s infinite;
  }

  .ellipse-4 {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #5CBB5F;
    border-radius: 50%;
    top: 356px;
    right: 10px;
    z-index: 1;
    animation: bounce 1.6s infinite;
  }

  /* Hero-right*/
  
  .hero-right {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    order: 2;
    margin-top: 20px;
  }
  
  .hero-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }
  
  .hero-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  
  .hero-para {
    font-size: 14px;
    font-weight: 400px;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  
  .hero-CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin: 0;
  }
  
  .hero-CTA-1 {
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A77EA;
    border-radius: 30px 30px 30px 0;
  }
  
  .hero-CTA-1-txt {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
  }
  
  .hero-CTA-2 {
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30363E;
    border-radius: 30px 30px 0 30px;
  }
  
  .hero-CTA-2:hover {
    background-color: #2A77EA;
    transition: background-color 0.4s ease;
  }
  
  .hero-CTA-2-txt {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
  }
  
  /* Hero-right*/
  
  .hero-left {
    width: 100%;
    order: 1;
    margin-bottom: 40px;
  }
  
  .hero-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .hero-grid-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bounce 2s infinite;
    left: -46px;
  }

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
  }  

  .grid-1-image-1, .grid-1-image-2 {
    position: absolute;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .grid-1-image-1 {
    height: 300px;
    width: 100px;
    border-radius: 100px;
    top: -220px;
    margin: 0;
    
  }
  
  .grid-1-image-2 {
    height: 260px;
    width: 100px;
    border-radius: 100px;
    bottom: -366px;
    margin: 0;
  }
  
  
  .hero-grid-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 1rem;
    top: 0;
    left: -20px;
    z-index: 1;
  }
  
  .grid-2-image-1 {
    height: 300px;
    width: 100px;
    border-radius: 0 0 100px 100px;    
  }
  
  .grid-2-image-2 {
    height: 260px;
    width: 100px;
    border-radius: 100px 100px 0 0;
    
  }
  
  .hero-grid-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    right: -46px;
    top: 0;
    animation: bounce 2s infinite;

  }

  @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
  } 
  
  .grid-3-image-1 {
    height: 270px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    top: -208px;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .grid-3-image-2 {
    height: 260px;
    width: 100px;
    border-radius: 100px ;
    position: absolute;
    transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    bottom: -348px;
  }
  
  /* Cat__Section*/
  
  .cat-section {
    display: none;
    height: 200px;
    width: 100%;
    background-color: #1A171E;
  }
  
  
  .cat-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 80px;
    gap: 1.6rem;
  }
  
  .cat {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
  }
  
  .cat-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .cat-bar-items {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
    opacity: 50%;
  }


.about-section {
  height: auto;
  background-color: #1A171E;
  border-top: 0.6px solid #f8f8f8;
}

.about-section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 1rem;
}

.about-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-pic {
  height: 340px;
  width: auto;
  animation: bounce 2s infinite;
  z-index: 1;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

.about-info {
  display: flex;
  justify-content: end;
  width: 100%;

}

.about-info-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.about-heading {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 1;
}

.about-vector-1 {
    position: absolute;
    height: 16px;
    width: auto;
    z-index: 0;
    fill: none;
}

.about-para {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  text-align: center;
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 140px;
    background-color: #E4B821;
    color: #fff;
    border-radius: 50px;    
    transition: background-color 0.3s ease, transform 0.3s ease;    
}

.about-btn:hover {
    background-color: #d3a720;
    transform: scale(1.05);
}

.about-btn-txt {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
}


.academy-section {
  height: auto;
  width: 100%;
  background-color: #1A171E;
  position: relative;
  border-top: 0.8px solid #f8f8f8;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.academy-stars-1 {
  position: absolute;
  height: 26px;
  width: auto;
  top: 16px;
  left: 10px;
  fill: #fff;
  animation: bounce 1.6s infinite;
}

.academy-stars-2 {
  position: absolute;
  height: 26px;
  width: auto;
  top: 900px;
  left: 10px;
  fill: #fff;
  animation: bounce 1.6s infinite;
}

.academy-stars-3 {
  position: absolute;
  height: 26px;
  width: auto;
  top: 450px;
  right: 10px;
  fill: #fff;
  animation: bounce 1.6s infinite;
}

.academy-stars-4 {
  position: absolute;
  height: 26px;
  width: auto;
  bottom: 450px;
  right: 10px;
  fill: #fff;
  animation: bounce 1.6s infinite;
}

.academy-stars-5 {
  display: flex;
  position: absolute;
  height: 26px;
  width: auto;
  bottom: 10px;
  left: 10px;
  fill: #fff;
  animation: bounce 1.6s infinite;
}


.academy-section-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 20px;
}

.academy-subjects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 20px;
  text-align: center;
  gap: 1rem;
  border: 0.8px solid #fff;
  border-radius: 40px;
}

.subjects-img {
  height: 40px;
  width: 40px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.subjects-heading {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

.subjects-info {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.subjects-btn {
  height: 48px;
  width: 140px;
  background-color: #E4B821;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: auto;
}

.subjects-btn:hover {
  background-color: #d3a720;
}

.subjects-btn-txt {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}


/* Contact__Section */

.contact-section {
  background-color: #1A171E;
  border-top: 0.8px solid #f8f8f8;
  padding: 0;
  margin-bottom: 30px;
}

.contact-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  0 14px;
  gap: 1.2rem;
}

/* Contact info */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-heading {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.contact-para {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    text-align: center;
}

/* Contact form styling */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-form-nm,
.contact-form-em,
.contact-form-msg {
  height: 54px;
  width: 320px;
  background-color: #EC4A59;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  padding: 0 20px;
}

.contact-form-msg {
  padding: 20px 20px;
}

.contact-form-nm::placeholder,
.contact-form-em::placeholder,
.contact-form-msg::placeholder {
    color: #fff;
    opacity: 0.8;
}

.contact-form-msg {
    height: 150px; /* Adjusted for better readability */
    resize: none;
}

/* Submit button */
.contact-form-btn {
    background-color: #E4B821;
    color: #fff;
    height: 48px;
    width: 140px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.contact-form-btn:hover {
    background-color: #d3a720;
    transform: scale(1.05); /* Added scale effect on hover */
}

.contact-form-btn-txt {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
  
  /* Footer__Section */

  .footer {
    height: 200px;
    background-color: #1A171E;
    margin-top: 30px;
  }

  .footer-menu {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .footer-logo {
    font-size: 24px;
    font-weight: 600;
    font-family: "Popins", sans-serif;
    color: #fff;
  }

  .footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .footer-bar-items {
    font-size: 14px;
    font-weight: 400;
    font-family: "Popins",sans-serif;
    color: #fff;
  }

  .footer-copyright {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    border-top: 0.8px solid #fff;
  }

  .footer-copyright-txt {
    font-size: 12px;
    font-weight: 400;
    font-family: "Popins", sans-serif;
    color: #fff;
  }
  .hide-on-mobile {
    display: none;
  }
}